/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  // max-width 450px!important
  max-height 100% !important
  margin 1rem auto -20rem !important

.theme-default-content a code
  color $accentColor
